/*
Taken from https://bulma.io/documentation/overview/customize/
*/
html {
  scroll-behavior: smooth;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.blog-list-card {
  padding: 10px;
  &:hover {
    background-color: #fafafa;
  }
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.tag {
  margin: 2px;
}

i {
  color: #363636;
  &:hover {
    color: gray;
  }
}

.navbar-link {
  color: #363636;
  &:hover {
    color: gray;
  }
}

.navbar-item {
  color: #363636 !important;
  &:hover {
    color: gray !important;
  }
}

.navbar-end {
  a {
    color: #363636;
    &:hover {
      color: gray;
    }
  }
}

.pl {
  font-size: 5rem;
}

// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";

// 2. Set your own initial variables
// Update blue
// $blue: #72d0eb;
// Add pink and its invert
// $pink: #ffb3b3;
// $pink-invert: #fff;
// Add a serif family
// $family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
// $primary: $pink;
// $primary-invert: $pink-invert;
// Use the existing orange as the danger color
// $danger: $orange;
// Use the new serif family
// $family-primary: $family-serif;

// 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "~bulma/bulma.sass";
