@tailwind base;

@tailwind components;

@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 250ms;
  transition-delay: 0;
}

html {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #fff;
  --primaryText: #4a4a4a;
  --secondaryBg: #ebebeb;
  --secondaryText: #7b7b7b;
  --primaryButtonText: #fff;
  --primaryBorderBg: #efefef;
  --activeSelectionBg: rgba(162, 162, 162, 0.1);
  --primaryShadowBg: rgba(204, 204, 204, 0.7);
  --tagBg: whitesmoke;
  --tagText: #212121;
  --preColor: #4a4a4a;
  --preBackgroundColor: whitesmoke;
}

html[data-theme="dark"] {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #20232a;
  --primaryText: rgba(255, 255, 255, 0.8);
  /* --secondaryBg: #212121; */
  --secondaryBg: #2b2f38;
  --secondaryText: rgba(255, 255, 255, 0.6);
  --primaryButtonText: #fff;
  --primaryBorderBg: #292929;
  --activeSelectionBg: rgba(0, 0, 0, 0.18);
  --primaryShadowBg: rgba(8, 8, 8, 0.7);
  --tagBg: rgba(255, 255, 255, 0.8);
  --tagText: #20232a;
  --preColor: rgba(255, 255, 255, 0.8);
  --preBackgroundColor: #2b2f38;
}

a:hover {
  color: var(--primaryThemeHover);
}

.code-snippet {
  color: var(--preColor);
  background-color: var(--preBackgroundColor);
}
