@tailwind base;

@tailwind components;

@tailwind utilities;

/* Needed to prevent scrollbar appearing from moving the page */
html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--primaryBg);
}

::-webkit-scrollbar-thumb {
  background: #16a085;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 250ms;
  transition-delay: 0;
}

html {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #ebebeb;
  --primaryText: #4a4a4a;
  --secondaryBg: #dadada;
  --secondaryText: #7b7b7b;
  --tertiaryBg: #f7f7f7;
  --primaryButtonText: #fff;
  --primaryBorderBg: #efefef;
  --activeSelectionBg: rgba(162, 162, 162, 0.1);
  --primaryShadowBg: rgba(204, 204, 204, 0.7);
  --tagBg: #f7f7f7;
  --tagText: #212121;
  --preColor: #4a4a4a;
  --preBackgroundColor: #e1e1e1;
  --link: #606060;
}

html[data-theme="dark"] {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #20232a;
  --primaryText: #eeeeee;
  /* --secondaryBg: #212121; */
  --secondaryBg: #2b2f38;
  --secondaryText: rgba(255, 255, 255, 0.6);
  --tertiaryBg: #444852;
  --primaryButtonText: #fff;
  --primaryBorderBg: #292929;
  --activeSelectionBg: rgba(0, 0, 0, 0.18);
  --primaryShadowBg: rgba(8, 8, 8, 0.7);
  --tagBg: #444852;
  --tagText: #20232a;
  --preColor: rgba(255, 255, 255, 0.8);
  --preBackgroundColor: #2b2f38;
  --link: #bfbfbf;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--primaryThemeHover);
}

.code-snippet {
  color: var(--preColor);
  background-color: var(--preBackgroundColor);
}

.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms transform 300ms;
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms transform 300ms;
}
