html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}

html {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #fff;
  --primaryText: #212121;
  --secondaryText: #7b7b7b;
  --primaryButtonText: #fff;
  --primaryBorderBg: #efefef;
  --activeSelectionBg: rgba(162, 162, 162, 0.1);
  --primaryShadowBg: rgba(204, 204, 204, 0.7);
  --tagBg: whitesmoke;
  --tagText: #212121;
}

html[data-theme="dark"] {
  /* global colors */
  --primaryTheme: #16a085;
  --primaryThemeHover: #1abc9c;
  --primaryBg: #20232a;
  --primaryText: rgba(255, 255, 255, 0.8);
  --secondaryText: rgba(255, 255, 255, 0.6);
  --primaryButtonText: #fff;
  --primaryBorderBg: #292929;
  --activeSelectionBg: rgba(0, 0, 0, 0.18);
  --primaryShadowBg: rgba(8, 8, 8, 0.7);
  --tagBg: rgba(255, 255, 255, 0.8);
  --tagText: #20232a;
}
